modules = ["nodejs-20", "web", "bash", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["github:1.0.0", "javascript_database:1.0.0", "javascript_openai_ai_integrations:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["unzip", "glib", "zip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BOPkGXynIkGtz0-rHcUgCdsagv2sAIsytNJeB0iuhWYuIKSzmYaJY-3SEc713eslnVTmWp0mtPsOX1WRtRnE5Wk"
VAPID_PRIVATE_KEY = "7LFv_85sf97PWv4g_it8nV3R1HirYMfE_w5hgp1r9PE"
VAPID_EMAIL = "mailto:admin@roomxi.org"
EMAIL_PROVIDER = "sendgrid"
EMAIL_FROM_NAME = "Room XI Connect"
EMAIL_FROM = "roomxi.ent@gmail.com"

[userenv.production]
PUBLIC_URL = "https://ct-mvp--erickrushxi.replit.app"
